        body {
            font-family: "Avenir Next", monospace;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }

        #header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start; /* Align items to the start of the flex container (left side) */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #FF6B6B;
            color: white;
            z-index: 10;
            padding: 10px;
            flex-direction: column; /* Stack items vertically */
            text-align: left; /* Align text to the left */
        }

        #alt-header {
            display: flex;
            justify-content: space-between; /* This will align children to each end */
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #25b8f7;
            color: white;
            z-index: 10;
            padding: 10px;
        }

        
        #name_header {
            font-size: 20pt;
            margin: 0;
            color: #FFFFFF;
            width: 100%; /* Full width */
            /* text-align: center removed to allow left alignment */
        }

        #center-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            margin-top: 25px;
        }

        #logout {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 15px;
            margin-bottom: 65px;
        }

        #logout span, #logout form {
            font-size: 8pt;
        }

        input[type="submit"] {
            background-color: #4D96FF;
            color: white;
            cursor: pointer;
            font-size: 8pt;
        }

        input[type="submit"]:hover {
            background-color: #2271e3;
        }

        #view-input input[type="text"] {
            border: 1px solid #ccc; /* Light grey border */
            border-radius: 5px; /* Rounded corners for the input field */
            padding: 10px;
            margin: 5px 0; /* Add margin on top and bottom */
            width: calc(100% - 24px); /* Adjust width to account for padding and border */
            max-width: none; /* Remove max-width restriction */
        }

        #view-input input[type="submit"] {
            border: 1px solid #ccc; /* Light grey border for consistency */
            border-radius: 5px; /* Match border radius with input field */
            padding: 10px 20px; /* Adjust padding as needed */
            margin-left: 10px; /* Add space between the input field and submit button */
        }

        #subheader {
            margin-bottom: 5px;
            font-size: 8pt;

        }

        #content {
            margin-top: 80px; /* Adjust based on actual header size */
            padding: 20px;
            overflow-y: auto;
            height: calc(100vh - 100px);
            background-color: #FFFFFF;
            color: #333;
        }

        #home-content {
            margin-top: 10px; 
            padding: 20px;
            overflow-y: auto;
            height: calc(100vh - 100px);
            background-color: #FFFFFF;
            color: #333;
            display: flex; /* Use Flexbox */
            justify-content: center; /* Center align items horizontally */
            align-items: center; /* Center align items vertically */
        }

        ul.no-bullets {
            list-style-type: none;
            padding: 0;
        }

        

        .home-no-bullets li {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex: 1; 
        }

        .button {
            display: block;
            width: 50%; /* Set the width to 50% of its parent */
            text-align: center;
            padding: 10px 20px; /* Add some padding to make it look like a button */
            margin: 5px;
            background-color: #25b8f7; /* Replace with your button color */
            color: #FF6B6B; /* Replace with your button text color */
            text-decoration: none;
            transition: background-color 0.3s ease; /* Smooth transition for hover effect */
            border: none;
            cursor: pointer;
        }

        .button:hover {
            background-color: #0056b3; /* Replace with the color you want on hover */
        }

        #suggestions {
            width: calc(100% - 20px); /* Adjust width to line up with the input */
            left: 10px; /* Align left edge with the input */
            top: unset;
            bottom: -100vh; /* Position it at the bottom of the form */
            }

        #suggestions div {
            padding: 10px;
            cursor: pointer;
            background-color: #FF5C5C; /* Slightly lighter than menu background */
            color: white;
        }

        #suggestions div:hover {
            background-color: #FFD6D6;
        }

        #update_message {
            color: #FFFFFF;
            font-size: 12pt;
            padding: 0px 0; /* Add padding to the top and bottom */
            margin-top: 10px; /* Space above the message */
            width: 100%; /* Full width */
            /* text-align: center removed to allow left alignment */
        }

        input[type="text"], input[type="submit"] {
            border: none;
            border-radius: 10px;
            padding: 10px;
            margin: 5px;
            width: auto;
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            margin: 0 10px;
        }

        #bird-input {
            flex-grow: 1; /* or you can use width: 100%; */
            margin-right: 10px;
            max-width: 125px; /* Set a max-width that fits your design */
        }

         #view-bird-input {
            flex-grow: 1; /* or you can use width: 100%; */
            margin-right: 10px;
            
        }
       #form_add_bird {
            position: relative;
            margin-top: -10px;
        }

        .hamburger-menu {
            cursor: pointer;
            padding: 10px;
            font-size: 29pt;
        }

        .hamburger-menu {
            cursor: pointer;
            font-size: 29pt;
            position: fixed;
            top: 0px;
            right: 10px; /* Move to the right */
            z-index: 12; /* Above the slide-in menu */
            margin-bottom: 0px;
        }

        .menu {
            height: 100%;
            width: 0; /* Initially the width is 0 */
            position: fixed;
            z-index: 11; /* Above the header but below the hamburger icon */
            top: 0;
            right: 0; /* Slide in from the right */
            background-color: #FF6B6B;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px; /* Space for the close button */
        }

        .menu a.closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        #total-logged {
            font-size: 10pt; /* Adjust the font size as needed */
            margin-top: 5px; /* Adds a little space between the title and this line */
        }

        .menu-content {
            display: flex;
            flex-direction: column;
            padding: 10px;
        }


        .menu-content span {
            white-space: nowrap; /* Prevents the text from wrapping */
        }

        .menu-content form {
            margin: 0; /* Removes margin */
        }

        .menu-content input[type="submit"] {
            padding: 8px 16px; /* Adjust padding to fit your design */
            /* Add any additional styling for the logout button here */
        }

        .menu {
            background-color: #FF5C5C; /* Slightly different shade for example */
        }

        .user-info {
            text-align: center; /* Center align text */
            display: block; /* Make link take the full area of the li */
            padding: 10px 20px; /* Add some padding inside the button */
            text-decoration: none; /* Remove underline from links */
        }

        .bird-search form {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .view-bird-search form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 90px; /* Move it closer to the blue header, adjust as needed */
            width: 100%; /* Make the form full width */
        }

        a:link {
            text-decoration: none;
            color: #FFFFFF;
        }

        a:visited {
            text-decoration: none;
            color: #FFFFFF;
        }

        a:hover {
            text-decoration: none;
            color: #FFFFFF;
        }

        a.active {
            text-decoration: none;
            color: #FFFFFF;
        }

        .mylistnav {
            text-align: center; /* Center align text */
            display: block; /* Make link take the full area of the li */
            padding: 10px 20px; /* Add some padding inside the button */
            border: 1px solid #cccccc; /* Thin grey border */
            border-radius: 5px; /* Rounded corners for the button */
            text-decoration: none; /* Remove underline from links */
            transition: background-color 0.3s, color 0.3s;
            margin-top: 5px;
        }

        .white_content_link:link, .white_content_link:visited, .white_content_link:hover, .white_content_link:active {
            color: #FFFFFF;
            text-align: center; /* Center align text */
            display: block; /* Make link take the full area of the li */
            padding: 10px 20px; /* Add some padding inside the button */
            border: 1px solid #cccccc; /* Thin grey border */
            border-radius: 5px; /* Rounded corners for the button */
            text-decoration: none; /* Remove underline from links */
            transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
        }

        .white_content_link:hover {
            background-color: #cccccc; /* Change background on hover */
            color: #ffffff; /* Change text color on hover */
        }

         .list_white_content_link:link{
            color: #25b8f7;
        }
        .list_white_content_link:visited {
            color: #25b8f7;
        }
        .list_white_content_link:hover {
            color: #25b8f7;
        }
        .list_white_content_link:active {
            color: #25b8f7;
        }

        .user-info {
            font-size: 9pt;
        }

        .home_selection {
            width: 100%; /* Take full width of the parent */
            font-size: 14pt;
            margin-top: -150px;
        }

        #existing-lists {
            text-align: center;
            margin-top: 50px;
        }

        #new-list-form {
            text-align: center;
            margin-top: 50px;
        }

        #list {
            padding: 20px;
            margin-top: 0px;
        }

        #list_bird_add {
            margin-top: 100px;
        }

        #content-bird-search form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 90px; /* Move it closer to the blue header, adjust as needed */
            width: 92%; /* Make the form full width */
        }

        #view-bird-input {
            flex-grow: 1; /* or you can use width: 100%; */
            margin-right: 10px;
            
        }
      