<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Birdédex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pstyle.css') }}">
</head>
<body>
    <div id="header">
        <div id="name_header">
            <a href="{{ url_for('home') }}"><b>Birdédex</b></a>
            <div id="total-logged">Thanks for using Birdedex! <a href="https://www.buymeacoffee.com/birdedex">Buy me a coffee</a></div>
        </div>
        <div class="hamburger-menu" onclick="toggleMenu()">&#9776;</div>
    </div>
    
    <div id="slide-in-menu" class="menu">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleMenu()">&times;</a>

    
    {% if current_user.is_authenticated %}


    <div class="menu-content">
        <div class="user-info">
            <span>Logged in as {{ current_user.username }}</span>
            <form action="{{ url_for('logout') }}" method="post">
                <input type="submit" value="Logout">
            </form>
        </div>
        

    </div>
    {% endif %}
</div>


<section id="home-content">
        <nav class="home_selection">
            <ul class="home-no-bullets">
                <li>
                    <div>Total Distinct Birds Logged {{ sighted_count }}/{{ total_bird_count }}</div>
                </li>
                <li><a class="button" href="{{ url_for('index') }}">Birdedex</a></li>
                <li><a class="button" href="{{ url_for('userlist') }}">My Lists</a></li>
                
            </ul>
        </nav>
    </section>



        <script>
    function toggleMenu() {
    var menu = document.getElementById("slide-in-menu");
    menu.style.width = menu.style.width === '250px' ? '0' : '250px';
}
    window.onload = function() {
        var element = document.getElementById("{{ anchor_id }}");
        if (element) {
            element.scrollIntoView({ behavior: 'smooth', block: 'center' });
        }
    };

    function fetchSuggestions() {
        var input = document.getElementById('bird-input');
        var query = input.value;

        if (query.length < 2) {
            document.getElementById('suggestions').style.display = 'none';
            return;
        }

        fetch('/suggest_birds?query=' + query)
            .then(response => response.json())
            .then(suggestions => {
                var suggestionsDiv = document.getElementById('suggestions');
                suggestionsDiv.innerHTML = '';
                suggestions.forEach(function(suggestion) {
                    var div = document.createElement('div');
                    div.innerHTML = suggestion;
                    div.onclick = function() {
                        input.value = suggestion;
                        suggestionsDiv.style.display = 'none';
                    };
                    suggestionsDiv.appendChild(div);
                });
                if (suggestions.length > 0) {
                    suggestionsDiv.style.display = 'block';
                } else {
                    suggestionsDiv.style.display = 'none';
                }
            })
            .catch(error => console.error('Error fetching suggestions:', error));
    }

    window.onclick = function(event) {
        if (!event.target.matches('#bird-input')) {
            document.getElementById('suggestions').style.display = 'none';
        }
    };
    </script>
</body>

</html>
